{
    "db": "pdb",
    "database": [
	{
	    "name": "sdb",
	    "dbdriver": "sqlite3",
	    "dsn": ""
	},
	{
	    "Name": "pdb",
	    "dbdriver": "postgres",
	    "dsn": "user=test dbname=test"
	},
	{
	    "Name": "mdb",
	    "dbdriver": "mysql",
	    "dsn": "user:password@/dbname"
	}
    ]
}
