name: Go
on: [push]
jobs:

  build:
    strategy:
      matrix:
        go-version: [1.12.x, 1.13.x]
        platform: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.platform }}

    steps:
    - name: Install Go
      if: success()
      uses: actions/setup-go@v1
      with:
        go-version: ${{ matrix.go-version }}
    - name: Check out code into the Go module directory
      uses: actions/checkout@v1
    - name: Run tests
      run: make test

  dbtest:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:11
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: trdsql_test
          POSTGRES_INITDB_ARGS: "--encoding=UTF-8 --locale=C"
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

      mysql:
        image: mysql:8.0
        ports:
          - "3307:3306"
        env:
          MYSQL_ROOT_PASSWORD: 'root'
          MYSQL_DATABASE: trdsql_test

    steps:
    - name: Install Go
      if: success()
      uses: actions/setup-go@v1
      with:
        go-version: 1.13.x
    - name: Check out code into the Go module directory
      uses: actions/checkout@v1
    - name: Run tests
      run: make test
      env:
        SESSION_PG_TEST_DSN: "host=localhost user=postgres password=postgres dbname=trdsql_test sslmode=disable"
        SESSION_MY_TEST_DSN: "root:root@tcp(localhost:3307)/trdsql_test"
